.header {
  background-color: #fcc700;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.headerLeft {
  display: flex;
  align-items: center;
  padding: 30px;
}

.headerRight {
  display: flex;
  align-items: center;
  padding: 30px;
}

.logo {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-right: 10px;
  vertical-align: middle;
}

.logoButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.home {
  background-color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 50px;
  padding: 20px 30px;
  cursor: pointer;
}

.home:hover {
  background-color: whitesmoke;
  color: grey;
}

