.leftSidebar {
  background-color: rgb(254, 255, 240);
  width: 250px;
  position: relative;
  transition: width 0.3s ease;
}

.leftSidebar.collapsed {
  overflow: hidden;
  width: 70px;
}




.logoContainer {
  padding: 10px 0;
  text-align: center;
  background-color: rgb(254, 255, 240);
}

.logoExpanded {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoText {
  
  width: 160px;
  height: 40px;
  margin-right: 20px;
}

.logoText:hover {
  cursor: pointer;
}


.logoCollapsed {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.logoCollapsed:hover {
  cursor: pointer;
}

.logoIcon {
  width: 30px;
  height: 30px;
  color: #fcc700;
  display: flex;
  align-items: center;
  justify-content: center;
}




.toggle {
  position: absolute;
  background-color: rgb(254, 255, 240);
  border: none;
  top: 5px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
}




.selector {
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.dropdown {
  font-family: Cambria, serif;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  color: grey;
  background-color: rgb(254, 255, 240);
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:focus {
  outline: none;
}

.dropdown option {
  padding: 0.5rem;
}




.tab {
  font-family: Cambria, serif;
  gap: 20px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: grey;
  text-align: left;
  cursor: pointer;
}

.tab:hover {
  background-color: lightgoldenrodyellow;
}


.tab.active {
  background-color: lightgoldenrodyellow;
}

.tab:disabled {
  opacity: 0;
  cursor: default;
}


.tabIcon {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.tabText {
  font-family: Cambria, serif;
  font-size: 1rem;
  color: grey;
}


.iconTabBar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 5px;
}

.iconTabBar .tab {
  display: flex;
  margin-top: 10px;
  font-size: 35px;
  width: 35px;
  height: 35px;
}


.resizeHandle {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: transparent;
  cursor: col-resize;
  z-index: 5;
}
