.leftSidebar {
  background-color: white;
  width: 250px;
  border-right: 1px solid lightgrey;
  position: relative;
  transition: width 0.3s ease;
}

.leftSidebar.collapsed {
  overflow: hidden;
}

.leftSidebar.collapsed .toggle {
  position: absolute;
  right: 10px;
  top: 10px;
}



