/* Metrics for Home Page and Ward Page */

.metrics {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
  flex-wrap: wrap;
}

.metricSmall {
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  text-align: center;
}

.metricSmall .number {
  font-size: 1.8rem;
  font-weight: bold;
}

.metricSmall .label {
  font-size: 0.9rem;
}


.metricBig {
  background-color: whitesmoke;
  color: grey;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}



/* Members for Ward Page */
.memberList {
  display: flex;
  gap: 20px;
}

.memberCard {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 180px; /* Reduced width to accommodate image */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.memberImageContainer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.memberImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.memberCard:hover {
  background-color: #fcc700;
  color: white;
}