.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: white;
  overflow: auto;
  font-size: 12px;
  line-height: 1;
}

.header {
  position: relative;
  padding: 5px 10px;
  text-align: left;
  background-color: #fcc700;
  color: white;
  font-weight: bold;
}


.wrapper {
  overflow-x: auto;
  max-width: 100%;
  background: white;
}



.table thead th {

  background-color: whitesmoke;
  color: grey;
  padding: 10px;
  border-right: 1px solid rgb(255, 255, 255);
}

.table thead th:hover {
  cursor: pointer;
}




.table td {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
  border: whitesmoke 1px solid;
  vertical-align: middle;
  word-break: keep-all;
  max-width: 300px;
}

.table tr:hover {
  background-color: whitesmoke;
}


.resizeHandle {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: transparent;
  cursor: col-resize;
  z-index: 5;
}


.filterRow {
  display: flex;
  background: whitesmoke;
  border-bottom: 1px solid #dee2e6;
  gap: 5px;
}

.filterInput {
  background-color: whitesmoke;
  color: grey;
  font-family: Cambria, serif;
  border: none;
  margin: 2px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: text;
  transition: all 0.3s ease;
  min-width: 180px;
  opacity: 0.5;
}

.filterInput:hover {
  opacity: 0.9;
}

.filterInput:focus {
  background-color: lightgrey;
  color: black;
  opacity: 1;
  outline: none;
}

/* Sort Indicator */
.sortIndicator {
  display: inline-block;
}

.sortAsc {
  border-bottom: 5px solid white;
}

.sortDesc {
  border-top: 5px solid white;
}

.pagination {
  display: flex;
  padding: 5px;
  background-color: whitesmoke;
}

.arrow {
  color: black;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
  gap: 2px;
  padding: 2px 5px;
}
.arrow:hover:not(.disabled) {
  color: blue;
  background: lightcyan;
  border-radius: 5px;
}
.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.pageInput {
  font-family: Cambria, serif;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px;
  width: 40px;
  text-align: center;
}

.pageInputWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 10px;
  font-size: 12px;
  color: grey;
}

.pageInputLabel {
  color: grey;
  font-weight: 500;
  margin-right: 2px;
}

.pageInputNumber {
  font-weight: bold;
  color: grey;
}

.pageInputTotal {
  color: grey;
  margin-left: 2px;
}