body {
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  text-align: center;
}

.header {
  background-color: #fcc700;
  color: whitesmoke;
  padding: 30px;

}

.metrics {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px auto;
  flex-wrap: wrap;
}

.metric-card {
  background-color: #fcc700;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  text-align: center;
  width: 150px;
}

.metric-card .icon {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.metric-card .number {
  font-size: 1.8rem;
  font-weight: bold;
}

.metric-card .label {
  font-size: 0.9rem;
}

.division-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
}

.division-btn {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 20px;
  padding: 30px 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.division-btn:hover {
  background-color: #fcc700;
  color: white;
}

.ward-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.ward-btn {
  padding: 15px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.ward-btn:hover {
  background-color: #fcc700;
  color: white;
}


