:root {
  --primary-color: #fcc700;
  --primary-hover: whitesmoke;
  --secondary-color: lightgrey;
  --text-light: white;
  --text-dark: black;
  --border-radius: 20px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}